
html {
    background-color: rgb(86, 213, 252);
    height: 100%
}

/*New additions to html - creating a navbar with an add to cart feature*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(17, 17, 17, 0.068);
}

.active {
    background-color: #ffffff;
}

/* All "cart" related additions come with the first commit */
#cart {
    float: right;
    opacity: 1.0;
    background: url('Pictures/shopping_cart_final.png');
    width: 28px;
}

#cart:hover {
    opacity: 0.4;
}

#cart_count {
   float: right;
}

#container {
    height: 325px;
    width: 350px;
    background-color: #f003c8;
    
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px;
    grid-template-areas:
    ". length"
    ". width"
    ". total-bill"
    "btn btn";
    margin: 200px auto;
    border: 5px solid rgb(238, 234, 17);
    padding: 25px;
}

#banner_length{
    grid-area: length;
}
#banner_width{
    grid-area: width;
}
#total_bill{
    grid-area: total-bill;
}

p {
    color: white;
    text-align: left;
}
h3 {
    color: rgb(0, 0, 0);
    margin-top: -180px;
    text-align: center;
}

.input-styling {
    height: 25px;
    width: 250px;
}

#btn {
    grid-area: btn;
    height: 25px;
    width: auto;
}